<h1>
    <a href = "/posts">MY LOBANGS</a>
    <a href = "/posts/new">NEW LOBANG</a>
    <a href = "/explore">EXPLORE LOBANGS</a>
</h1>

<div>
  <h2>Don't just take photos when you travel. Be a good lobang.<br>Log your travel experiences here for others on similar adventures.<br>No more #FOMO.<br>No more #BOJIO.</h2>
</div>

<div>
  <h2>1. Create an account</h2>
  <h2>2. Log in travel tip</h2>
  <h2>3. Blow minds</h2>
</div>
