<!-- <%= image_tag("home_index_background.jpg") %> -->
<div class = "home_landing">

  <h1 class = "main-title"><i class="fa fa-globe fa-spin"></i><strong> TRIP LOBANGS <strong></i></h1>

  <h2 class = "landing_page_nav">
      <a href = "/posts"><i class="fa fa-user-secret fa-2x"></i> MY LOBANGS</a>
      <a href = "/posts/new"><i class="fa fa-plus-square fa-2x"></i> NEW LOBANG</a>
      <a href = "/explore"><i class="fa fa-binoculars fa-2x"></i> EXPLORE</a>
  </h2>
  <hr>
  <div class = "landing_page_text">
    <h2>Don't just take photos when you travel. Be a good lobang.<br>Log your travel experiences here for others on similar adventures.<br><br>No more #FOMO. No more #BOJIO.</h2>
      <div id = "landing_page_instructions">
        <h2>1. Register/Log in</h2>
        <h2>2. Create travel tip</h2>
        <h2>3. Blow minds</h2>
        <h2>4. Get mind blown</h2>
        <h2>Or... you could <i class="fa fa-eye"></i></i> <strong><%= link_to "find Wally", search_path %></h2></strong>
      </div>
  </div>
</div>
