@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: Avenir;
  padding: 50px;
  background: #e6af4b;
}
a {
  text-decoration: none;
  color: #22264b;
}
a:hover {
  text-decoration: none;
  color: #f2cbbc;
}
hr {
  color: #f2cbbc;
  width: 100%;
}

.main-title {
  font-size: 60px;
  color: #f2efe8;
  text-shadow: 1px 1px white;
  padding-top: 150px;
  padding-bottom: 15px;
  // color: #e8edf3;
}
// .navbar-brand {
//   color: #f2cbbc;
// }

.nav_bar_buttons {
  color: white;
}
#sign_in, #register, #signout, #home_button {
  color: white;
}
#sign_in:hover, #register:hover, #signout:hover, #home_button:hover {
  color: #f2cbbc;
}
.string.optional, .password.optional, .password.required, .email.required, .string.required, .country.optional, .integer.optional, .text.optional {
  margin: 5px;
}


.home_landing {
  text-align: center;
}

.landing_page_nav {
  padding-top: 120px;
  padding-bottom: 20px;
  font-weight: bold;
}
.landing_page_nav a {
  padding: 30px;
  font-size: 25px;
}

.landing_page_text {
  padding: 50px;
}

// #landing_page_instructions {
//   font-size: 10px;
// }

#bs-navbar-collapse-1 {
  background: #22264b;
}





//
// .navbar-brand .a {
//   color: #f2cbbc;
//   font-weight: bold;
// }
// .navbar-default .navbar-collapse, .navbar-default .navbar-form {
//   background: #22264b;
//   border-color: inherit;
// }

// .navbar-default .navbar-nav > li > a, .navbar-default .navbar-text {
//   color: #f2cbbc;
// }

// .row {
//   padding: 50px;
//   border: 5px solid #d3d3d3;
//   border-style: double;
// }

// .row {
//   // background-color: #fff;
//   border-color: #edeeee;
//   border-style: solid;
//   border-radius: 3px;
//   border-width: 1px;
//   margin-bottom: 60px;
// }

.form-wrapper {
  width: 60%;
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
}
.form01 {
  padding: 10px;
}
#search-form {
  text-align: center;
  padding-top: 20px;
}



.all_headers {
  text-align: center;
  font-weight: bold;
}

.posts-wrapper {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 642px;
  width: 100%;
}

.post {
  // background-color: #e8edf3;
  // border-color: #f2cbbc;
  // border-style: dashed;
  border-radius: 10px;
  border-width: 1px;
  padding-bottom: 20px;
  border-style: dashed;
  border-color: #f2cbbc;
  // margin-bottom: 50px;
}
.posts {
  // background-color: #e8edf3;
  // border-color: #edeeee;
  // border-style: solid;
  border-color: #f2cbbc;
  border-radius: 10px;
  border-width: 1px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-style: dashed;
  // background-color: #f2cbbc;
}

.post-head {
  padding: 14px 20px;
  font-size: 15px;
  line-height: 18px;
  border-color: #f2cbbc;
  border-radius: 10px;
  // background-color: #312c32;
  // background-color: #334431;
  background-color: #22264b;
  .thumbnail {}
  .name {
    display: block;
  }
  color: #f2efe8;
}

.caption, .description {
  padding: 24px 24px;
  font-size: 15px;
  line-height: 18px;
}

.like_globe {
  color: #22264b;
  padding: 20px 20px;
  font-size: 15px;
  line-height: 18px;
}

.read {
  padding: 20px 20px;
}
.text-center {
  padding-top: 20px;
}



#search_page {
  padding-top: 150px;
  padding-bottom: 100px;
}
